body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#timer {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 156px;
}
#buttonBox {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto
}